
@model List<update_site.Entities.Update>



<div class="Content">
<h3>@ViewBag.Title</h3>
<table id="UpdateList" class="table">
        <tr>
            <th>#</th>
            <th>KB</th>
            <th>Update Name</th>
            <th>Description</th>
        </tr>

        @for (var i = 1; i < Model.Count;  i++)
        {
            <tr>
                <td>@i</td>
                <td><a href="@Model[i-1].DownloadUrl" >@Model[i-1].KBNumber</a></td>
                <td>@Model[i-1].Name</td>
                <td>@Model[i-1].Descripton</td>
           </tr>
        }   

</table>
</div>